:root {
}

html,
body {

}

.main-header {
    background-color: cornflowerblue;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.main-footer {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}