.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  background-color: #242424;
  display: flex;
  gap: 12px;
  padding: 12px;
  border-radius: 10px;
}

.menu .link {
  color: #fff;
  transition: 0.2s;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 14px;
  border-radius: 10px;
}

.menu .link:hover {
  opacity: 0.8;
  transition: 0.2s;
  cursor: pointer;
  background-color: black;
}